<li{{#if animated}} class="sc-sequence-show"{{/if}}{{#if time}} data-message-time="{{ time }}"{{/if}}>
	{{#if content }}<p class="sc-chat-message-content">{{ content }}</p>{{/if}}
	{{#if time }}<time>{{ time }}</time>{{/if}}
</li>