@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@charset "utf-8";
/* CSS Document */
html { font-size: 100% }
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, title { display: block }
body { font-family: 'Montserrat', sans-serif; font-weight: normal; font-style: normal; font-size: 16px; line-height: 15px; -webkit-font-smoothing: antialiased; margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
ol, ul { list-style: none }
sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline }
sup { top: -0.5em }
sub { bottom: -0.25em }
* { outline:none !important; }
a:active, a:focus, a:hover, input[type="image"], select:focus, input, input[type="button"]:focus, :focus { outline: 0; text-decoration: none; }
.clearfix { *zoom:1}
.clearfix:before, .clearfix:after { display: block; content: ""; line-height: 0 }
.clearfix:after { clear: both }
.clear { clear: both }
.btn { outline: 0px; }
.lists { list-style: none; margin: 0px; padding: 0px;}
.mainpage{ position:relative;}
a, button{ transition:all 0.5s ease-in-out;}
.d-hide{ display:none !important;}
/* Header */
header{ width:100%; position:absolute; left:0; top:0; right:0; z-index:99; padding:10px 0; transform: translateZ(0); transition:all 0.5s;}
header .navbar-expand-md .navbar-nav .nav-link{ text-transform:uppercase; color:#fff; font-size:17px; font-weight:500; padding:15px 20px;}
header .navbar-expand-md .navbar-nav .nav-link img{ vertical-align:-2px;}
header .navbar-expand-md .navbar-nav .dropdown-menu{ left:auto; right:0; border-radius:10px; min-width:210px; text-align:center;}
header .navbar-expand-md .navbar-nav .dropdown-menu .dropdown-item{ padding:12px 10px; font-size:15px;}


header.fixed { box-shadow:0 2px 6px rgba(0,0,0,0.1); padding:4px 0; animation:slide-down 0.7s; opacity:1; background:rgba(46, 11, 247, 0.836);} 
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
} 

/* Hero Area */
.heroarea{ width:100%; position:relative; background:url(../images/canadai.png) center top no-repeat; height:970px; text-align:center; padding:250px 0 0;}
.canadaheroarea{ width:100%; position:relative; background:url(../images/inspired.jpeg) center top no-repeat; height:550px; text-align:center; padding:250px 0 0;}
.whycanadaheroarea{ width:100%; position:relative; background:url(../images/cmy.jpeg) center top no-repeat; height:500px; text-align:center; padding:250px 0 0;}

.whycanadaheroarea h1{ color:rgb(185, 185, 185); font-size:45px; font-weight:600; margin-bottom:30px; line-height:normal;}
.canadaheroarea h1{ color:rgb(247, 247, 247); font-size:45px; font-weight:600; margin-bottom:30px; line-height:normal;}


.heroarea h1{ color:#a52514; font-size:45px; font-weight:600; margin-bottom:30px; line-height:normal;}
.heroarea h2{ font-size:35px; color:#113086; font-weight:300; margin-bottom:90px;}
.heroarea h3{ font-size:40px; color:#113086; font-weight:200; text-transform:uppercase; margin-bottom:55px; letter-spacing:5px;}
.heroarea p a{ display:inline-block; padding:18px 35px; color:#fff; border-radius:30px; margin:0 25px; font-size:24px;}
.heroarea p a.crew-btn{ background:#a52514;}
.heroarea p a.job-btn{ background:#A9AAAA;}
.heroarea p a:hover{ background:#113086 !important;}

/* Pilot Program */
.PilotProgram{ width:100%; padding:80px 0 90px; position:relative; text-align:center;}
.PilotProgram h2{ font-size:45px; color:#a52514;}
.PilotProgram h3{ color:#113086; font-size:24px; margin:15px 0 20px; line-height:26px;}
.PilotProgram h4{ color:#113086; font-size:16px; margin:15px 0 0; line-height:26px;}
.PilotProgram p{ font-size:16px; color:#000000; line-height:28px; margin-bottom:50px;}

/* About Us */
.aboutwrap{ width:100%; padding:80px 0 100px; background:url(../images/aboutbg.svg) center top no-repeat;}
.aboutwrap h2{ color:#c72914; font-weight:300; font-size:30px; margin-bottom:60px; text-align:center;}
.aboutwrap h3{ color:#113086; font-size:20px; margin-bottom:10px; margin-left:30px;}
.aboutwrap h4{ color:#a52514; font-size:45px; margin-bottom:15px; font-weight:600; margin-left:30px;}
.aboutwrap p{ font-size:18px; line-height:28px; color:rgba(0, 0, 0, 0.75); margin-left:30px;}

/* Departure */
.departureWrap{ width:100%; padding:90px 0 100px; position:relative; text-align:center;}
.departureWrap h2{ color:#c72914; font-size:30px; margin-bottom:80px; font-weight:400;}
.departureWrap h3{ font-size:24px; color:#3c5ebd; margin:20px 0 10px; font-weight:600; line-height:22px;}
.departureWrap p{ font-size:16px; color:#113086; line-height:26px; padding:0 10px;}

/* Staffing */
.Staffingwrap{ width:100%; position:relative; text-align:center;}
.Staffingwrap h2{ font-size:50px; color:rgb(255, 255, 255); margin-bottom:20px; font-weight:300;}
.Staffingwrap p{ font-size:20px; color:#fff; line-height:36px; font-weight:300;}
.StaffingBx{ width:50%; float:left;  background:url(../images/girl9.png) center top no-repeat; background-size:cover; padding:210px 70px;}
.RecruitingBx{ width:50%; float:left;  background:url(../images/con.jpeg) center top no-repeat; background-size:cover; padding:210px 70px;}

/* Find Plane */
.findPlane{ width:100%; position:relative; padding:180px 0; background:url(../images/finbacppp.png) center top no-repeat; background-size:cover; text-align:center;}
.findPlane h2{ color:#113086; font-size:52px; font-weight:300; line-height:normal; margin-bottom:25px;}
.findPlane h2 span{ font-weight:500; color:#c72914;}
.findPlane p{ color:#000000; font-size:20px; line-height:32px; font-weight:300;}

/* Staffed Again */
.staffed-again{ width:100%; position:relative; background:url(../images/d.jpg) center top no-repeat; height:600px; padding:90px 0 0;}
.staffed-again h2{ color:#fff; font-size:55px; font-weight:300; line-height:normal; margin-bottom:20px;}
.staffed-again p{ font-size:20px; color:#fff; font-weight:300; line-height:36px;}

/* Footer Css */
footer{ width:100%; padding:60px 0 0; position:relative; background:#a52514;}
footer h2{ font-size:22px; color:#113086; margin-bottom:15px; font-weight:600;}
footer h3{ font-size:20px; color:#113086; margin-bottom:15px; font-weight:500;}
footer h4{ text-transform:uppercase; font-size:20px; color:#113086; margin-bottom:15px; font-weight:600;}
footer p{ font-size:14px; color:rgba(10, 10, 10, 0.8); line-height:24px; margin-bottom:20px;}
footer p a{ width:35px; height:35px; border-radius:50%; background:rgba(227, 230, 233, 0.55); display:inline-block; margin-right:5px; text-align:center; line-height:38px; color:#191919; transition:all 0.5s ease-in-out; font-size:16px;}
footer p a:hover{ background:#030303; color:#fff;}
footer li{ width:50%; float:left;}
footer li a{ width:100%; display:inline-block; color:rgb(8, 8, 8); font-size:15px; padding:10px 0;}
footer li a:hover{ color:#113086; font-weight:600;}
footer .form-control{ background:#f8f7f7; border:0px; font-size:14px; height:48px; box-shadow: none; color:#fff;}
footer .form-control:focus{ background:#dddddb;}
.find-btn{ background:#113086; color:#fff; font-size:16px; font-weight:700; text-transform:uppercase; border-radius:3px; border:0px; padding:15px 25px; cursor:pointer;}
.find-btn:hover{ background:#a52514;}
.copyright{ width:100%; padding:15px 0; text-align:center; color:#8C8C8C; font-size:14px; background:rgba(46, 11, 247, 0.836); margin:40px 0 0;}

/* Stay Connected */
header.innerHeader{ background:rgb(25 165 246 / 100%)}
.StayConnected{ width:100%; position:relative; padding:150px 0 80px; background:#EDEFF4;}
.StayConnected h1{ text-align:center; font-weight:300; font-size:42px; color:#646464; text-transform:uppercase; margin-bottom:40px;}
.whiteBox{ box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; background:#fff; border-radius:15px; width:100%; max-width:1000px; margin:0 auto; padding:15px;}
.news-title{ text-align:center; font-size:20px; color:#646464; line-height:32px; margin-bottom:35px;}
.StayConnected .form-group{ margin-bottom:25px;}
.StayConnected .form-control{ border:1px solid #C4C4C4; height:50px;}
.StayConnected .form-control.message{ height:120px;}
.client-btn{ display:inline-block; padding:16px 25px; color:rgb(255, 255, 255); border-radius:5px; font-size:18px; cursor:pointer; background:#113086; border:0px;float:right;}
.reg-btn{ display:inline-block; padding:16px 25px; color:#fff; border-radius:5px; font-size:18px; cursor:pointer; background:#646464; border:0px; float:left;}
.client-btn:hover, .reg-btn:hover{ background:#000;}
.great-title{ width:100%; text-align:center; padding:25px 0; color:#646464; font-size:22px; text-align:center;}
.upload-images { width: 100%;  }
.upload-images label p { text-align: center; width: 100%;}
.upload-images label {  background: #ffffff; color: #1a1919; cursor: pointer; border: none; outline: none;  transition: all 0.5s; border-radius:5px;}
.upload-images label:hover { color: black; background: #ffffff; }
.upload-images label img{ margin:0 0 7px;}
.upload-images label span{ border:1px dashed #A1A0A0; background:#EFEFEF; padding:10px 25px; border-radius:4px; display:inline-block; margin:15px 0 0;  transition:all 0.5s ease-in-out;}
.upload-images label:hover span{ background:#ccc;}
.image { width: 100%; position: relative; height: 200px; background:#F8F7F7; border-radius:5px; text-align:center; padding:90px 0 0;}
.image img { width: 100%; height: 100%; }
.upload-menu { display: none; padding-top: 10px; padding-bottom: 10px; }
.image-upload { width: 30%; }
.image-upload .upload-desc { width: 88%; }
.image-type { width: 70%; padding: 20px; }
.image-upload .upload-btn { width: 80%; float: right; }
.image-upload .upload-btn label { justify-content: center; }
.image-upload .upload-preview { float: right; }
.imageClose { position: absolute; right: 10px; top: 10px; cursor: pointer; background:url(../images/close.svg) center top no-repeat; width:29px; height:29px; z-index:1;}
.custom-box .custom-control-label{ padding:5px 0 0; font-size:16px;}
.custom-box .custom-control{ margin-bottom:20px;}
.AircraftBx{ width:100%; margin:20px 0 35px;}
.AircraftBx a{ background:#113086; color:#fff; font-size:16px; padding:10px 30px; border-radius:3px; margin-right:30px;}
.AircraftBx a img{ margin-right:5px;}
.AircraftBx a.dark-color{ background:#125B85}
.crewTable{ width:100%; position:relative;}
.crewTable thead tr{ background:#113086;}
.crewTable thead tr th{ color:#fff; font-size:16px; font-weight:400;}
.completebv{ width:100%;}
.completebv .complete-btn{ display:inline-block; padding:16px 25px; color:#fff; border-radius:5px; font-size:18px; cursor:pointer; background:#113086; border:0px;}
.reset-password .form-group{ position:relative;}
.reset-password .form-group span{ position:absolute; right:10px; top:15px; cursor:pointer;}
.reset-password .form-group .form-control{ padding:10px 10px 10px 45px; background:url(../images/lock.svg) 9px 11px no-repeat;}
.or-pasword{ width:100%; text-align:center; position:relative; margin:10px 0 40px; height:30px; border-bottom:1px solid #CECECE;}
.or-pasword span{ background:#fff; padding:2px 5px; left:0; right:0; margin:0 auto; position:absolute; color:#C0C0C0; font-size:14px; top:18px; display:inline-block; width:150px;}
.reset-password .submit-btn{ display:block; width:100%; padding:16px 25px; color:#fff; border-radius:5px; font-size:18px; cursor:pointer; background:#113086; border:0px;}
.StayConnected select.form-control:not([size]):not([multiple]) { height:50px; border:1px solid #C4C4C4;}
.StayConnected .form-control.l-icon{ background:url(../images/location.svg) 96% 12px no-repeat;}




.MyHangerWrap{ width:100%; position:relative; padding:150px 0 80px; background:#EDEFF4;}
.MyHangerWrap h1{ text-align:center; font-weight:300; font-size:42px; color:#646464; text-transform:uppercase; margin-bottom:30px;}
.trips-txt{ width:100%; text-align:center; font-size:24px; color:#646464; margin-bottom:50px; text-transform:uppercase;}

.MyHangerWrap .card{ border:0px; padding:25px 15px 15px; border-radius:5px; height:110px; position:relative; margin-bottom:25px;}
.MyHangerWrap .card img{ position:absolute; right:10px; top:10px; width:60px; height:auto;}
.MyHangerWrap .card h3{ font-size:16px; color:#A1A0A0; margin:0 0 10px;}
.MyHangerWrap .card p{ font-size:35px; color:#363636; font-weight:700; line-height:30px;}

.ActiveTrips{ background:#fff; padding:20px; width:100%; border-radius:5px; margin-bottom:30px;}
.ActiveTrips h2{ color:#646464; font-size:18px; margin-bottom:15px;}

#table_detail{ width:100%; border-collapse: collapse; color:#2E2E2E; border:1px solid #A1A0A0;}
#table_detail .hidden_row {	display:none;}

#table_detail tr.titleColor{ background:#EFEFEF; }
#table_detail tr.titleColor td{ padding:10px; border:1px solid rgb(161 160 160 / 44%); font-size:15px;}
#table_detail tr.titleColor td a{ background:#113086; color:#fff; font-size:14px; text-align:center; width:110px; border-radius:3px; padding:5px 10px; float:right; margin-right:10px;}
#table_detail tr.titleColor td a .fa{ margin-right:5px;}
#table_detail tr.hidden_row td{ padding:7px 10px; border:1px solid rgb(161 160 160 / 44%); font-size:14px; line-height:28px; color:#A1A0A0;}
#table_detail tr.hidden_row td span{ font-size:15px; font-weight:600; color:#646464;}



.payment-btn{ background:#125B85; color:#fff; font-size:16px; border-radius:5px; display:inline-block; border:0px; padding:14px 20px; cursor:pointer;}
.payment-btn .fa{ margin-right:5px;}

.BalanceHistory{ background:#fff; padding:20px; width:100%; border-radius:5px;}
.BalanceHistory h2{ color:#646464; font-size:18px; margin-bottom:25px;}
.BalanceHistory table thead th{ background:#113086; color:#fff; font-size:14px;}
.BalanceHistory table tbody td{ font-size:15px; border-bottom:1px solid #eee; padding:20px 5px;}

.cardProfile { width:100%; padding:25px; border-radius:5px; background:#fff;}
.cardProfile h2{ text-align:center; margin-bottom:20px; color:#646464; font-weight:600; font-size:22px;}
.cardProfile h3{ text-align:center; margin-bottom:16px; color:#646464; font-weight:700; font-size:26px;}
.cardProfile p{ text-align:center; font-size:18px; color:#646464; margin-bottom:20px;}
.cardProfile p a{ border-radius:5px; padding:10px 18px; color:#113086; font-size:16px; text-align:center; display:inline-block; margin:0 5px; border:1px solid #113086; line-height:22px;}
.cardProfile p a:hover{ background:#113086; color:#fff;}
.profileView{ width:80%; margin:0 auto 20px;}
.profileView img{ width:100%; border-radius:10px;}

/* Thusha */

/* .regas{
    background-color: rgba(255, 255, 255, 0.103); background:url(https://cdn.pixabay.com/photo/2013/07/13/12/18/canada-159585__340.png) ;
} */
.client-btn:hover{
    background-color: #a52514;
}
.client-btn a{
    
    color:white !important;
}




.add-btn{
   display:inline-block; text-align: left;padding:16px 25px; color:rgb(255, 255, 255); border-radius:5px; font-size:18px; cursor:pointer; background:#173ce4; border:0px;}
    .add-btn:hover{ background:rgb(150, 3, 3);
}

.closebtn{
    background:rgb(150, 3, 3) ;
}
